body{
  box-sizing: border-box;
  /* background-color: #36096d; */
background: linear-gradient(180deg, #36096d 0%, #37d5d6 100%);
background-size: cover;
background-repeat: no-repeat;
margin: 0;
padding: 0;
height: 100vh;
}

.container{
  width: 350px;
  height:auto;
  margin: auto;
  padding: 1rem;
  background: white;
  border-radius: 5px;
  margin-top: 100px;
}

input{
  width: 95%;
  font-size: 0.6rem;
  padding: 0.5rem;
  margin-top: 10px;
  }

small{
  margin-bottom: 1rem;
  margin-left: 5px;
  font-size: 0.6rem;
  color: darkred;
  font-weight: 600;


}

h1{
  margin: 1rem;
  font-size: 1.8rem;
}

button{
  margin-top: 0.5rem;
  background-color: coral;
  color: white;
  border-radius: 3px;
}

.success {
  border: 3px solid green;
}


.error {
  border: 3px solid red;
}

.hide{
  visibility: hidden;
}
